.idea
__pycache__
HW2/.ipynb_checkpoints
HW3/.ipynb_checkpoints
HW3/.ipynb_checkpoints/RBF-checkpoint.ipynb
HW4/.ipynb_checkpoints
HW4/.ipynb_checkpoints/CNN-checkpoint.ipynb
HW4/images
HW5/.ipynb_checkpoints
HW5/dataset/
